@font-face{
    font-family: spotify-regular;
    src: url(./SpotifyMixUI-Regular-76c92fb1a35c462f73429fa8865163eb.woff2);
}

@font-face{
    font-family: spotify-bold;
    src: url(./SpotifyMixUI-Bold-09c45a3a0ce9d2971e62cb26e97760fb.woff2);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family:spotify-regular;
}

html,body{
    background: #000000;
    color: #fff;
}

.main-container{
    display: flex;
    height: 100vh;
}
