@font-face{
    font-family: spotify-regular;
    src: url(./SpotifyMixUI-Regular-76c92fb1a35c462f73429fa8865163eb.woff2);
}

@font-face{
    font-family: spotify-bold;
    src: url(./SpotifyMixUI-Bold-09c45a3a0ce9d2971e62cb26e97760fb.woff2);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family:spotify-regular;
}

html,body{
    background: #000000;
    color: #fff;
}

.main-container{
    display: flex;
    height: 100vh;
}

aside{
    width: 22%;
    height: 100%;
    border-radius: 0.4rem;
}

.left-aside-nav-icons-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: #1a1a1a;
    height: 125px;
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
    margin: 5px;
    border: none;
    outline: none;
    margin-bottom: 7px;
    margin-top: 7px;
}

.nav-icons{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.nav-icons a{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
}

#search{
    opacity: 0.8;
}
 
#search:hover{
    opacity: 1;
}

.left-aside-nav-icons-container .nav-icons i{
    padding-right: 20px;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
}

.nav-icons img {
    height: 1.3rem;
    width: 1.3rem;
    margin-right: 10px;
    color: #adb9c5;
}

.left-aside-library-container {
    background-color: #1a1a1a;
    height: 100%;
    border-radius: 0.4rem;
    margin: 5px;
}

.aside-library-options {
    display: flex;
    align-items: center;
    gap: 60px;
    background: #1a1a1a;
    height: 4.5rem;
    border-radius: 0.4rem;
    padding: 20px;
    margin: 3px;
    border: none;
    outline: none;
    color: #adb9c5;
    
}

.aside-library-options:hover{
    color: #ffffff;
}

.plus-left-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
    font-size: 1.3rem;
    font-weight: 500;
    margin-left: 2rem;
}

#arrow:hover{
    border-radius: 50%;
    background-color: #252424;
    padding: 4px;
}

.aside-library-boxes .box{
    background-color: #1f1f1f;
    border-radius: 0.4rem;
    border: none;
    outline: none;
    margin-bottom: 4px;
    
}

.box{
     background-color: #232323;
     border-radius: 0.4rem;
     padding: 0px 10px 10px 0px;
    
}















main{
    /* background: #3d444d; */
     background-color:#1a1a1a;
     border-radius: 0.4rem;
     flex: 1;
     margin: 3px;
     margin-left: 5px;
     overflow: auto;
}

footer{
    background-color: rgb(3, 3, 3);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
}